.vscode/
generate_data/reid_dataset
dataset/
yolov5/pretrained/crowdhuman_yolov5m2.pt.zip
dataset2/
yolov5/checkpoints/
combine_dataset/
__pycache__/
yolov5/debug.ipynb
generate_data/tracking.ipynb
generate_data/__pycache__
yolov5/__pycache__
yolov5/models/__pycache__
combine_dataset/
yolov5/runs
yolov5/__pycache__/
yolov5/checkpoints
yolov5/wandb
generate_data/tracking.ipynb
